
tbody {
    COLOR: BLUE;
    background-color: #777;
    padding: 10px;
    margin: 10px auto;
    width: 80%;
    border: 2px solid blue;
    text-align: center;
}

H1 {
    COLOR: gender;
}

#ffd
.main-text {
    background-color: #999;
    padding: 10px;
    text-align: center;
    overflow: hidden;
}
image.content-text{
    background-color: black;
    margin: 10px;
    width: 30%;
    float: left;
    color: white;
}
div.content-text{
    background-color: black;
    margin: 10px;
    width: 30%;
    float: left;
    color: white;
}
    
    /*
html dom 

    
com
    

    .container{
        border: 2px solid blue;
        margin: 10px;


    }
/*
    combinators

    space  --> descendant
    >      --> direct child
    +      --> adjacent sibling
    ~      --> general sibling


        */


        
    .container div{
        border: 2px solid blue;
        margin: 10px;


    }